[color]
	ui = true
	interactive = true

[color "status"]
	added = green bold
	changed = red bold
	untracked = cyan

[color "diff"]
	meta = cyan bold
	old = red bold
	new = green bold
	frag = blue
	commit = yellow bold

[color "branch"]
	current = green bold
	local = bold
	remote = red bold

[color "grep"]
	match = cyan

[pager]
	color = true

[core]
	editor = vim
	pager = less -i
	excludesfile = /home/ryan/.gitignore
	precomposeunicode = true

[push]
	default = current
[rerere]
	enabled = 1
[merge]
	tool = meld
[mergetool]
	keepTemporaries = false
	prompt = false
	keepBackup = false
[user]
	name = Ryan Hall
	email = ryanhall989@gmail.com

[url "ssh://git@github.com/"]
	insteadOf = "https://github.com/"
