[submodule "vim/.vim/bundle/syntastic"]
	path = vim/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/.vim/bundle/vim-airline"]
	path = vim/.vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "vim/.vim/bundle/vim-airline-themes"]
	path = vim/.vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim/.vim/bundle/vim-gitgutter"]
	path = vim/.vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/.vim/bundle/gundo.vim"]
	path = vim/.vim/bundle/gundo.vim
	url = https://github.com/sjl/gundo.vim.git
[submodule "vim/.vim/bundle/vim-fugitive"]
	path = vim/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/.vim/bundle/tagbar"]
	path = vim/.vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/.vim/bundle/vim-css-color"]
	path = vim/.vim/bundle/vim-css-color
	url = https://github.com/ap/vim-css-color.git
[submodule "vim/.vim/bundle/vim-buffergator"]
	path = vim/.vim/bundle/vim-buffergator
	url = https://github.com/jeetsukumaran/vim-buffergator.git
[submodule "vim/.vim/bundle/vim-multiple-cursors"]
	path = vim/.vim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "vim/.vim/bundle/ctrlp.vim"]
	path = vim/.vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/.vim/bundle/vim-colorschemes"]
	path = vim/.vim/bundle/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "vim/.vim/bundle/vim-elixir"]
	path = vim/.vim/bundle/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule "vim/.vim/bundle/typescript-vim"]
	path = vim/.vim/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "vim/.vim/bundle/vim-sleuth"]
	path = vim/.vim/bundle/vim-sleuth
	url = git://github.com/tpope/vim-sleuth.git
[submodule "vim/.vim/bundle/dracula-theme"]
	path = vim/.vim/bundle/dracula-theme
	url = git@github.com:dracula/vim.git
[submodule "vim/.vim/bundle/vim-surround"]
	path = vim/.vim/bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vim/.vim/bundle/vim-solidity"]
	path = vim/.vim/bundle/vim-solidity
	url = git@github.com:tomlion/vim-solidity.git
[submodule "vim/.vim/bundle/vim-pathogen"]
	path = vim/.vim/bundle/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "vim/.vim/bundle/vim-latex"]
	path = vim/.vim/bundle/vim-latex
	url = git@github.com:vim-latex/vim-latex.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule "vim/.vim/bundle/tsuquyomi"]
	path = vim/.vim/bundle/tsuquyomi
	url = git@github.com:Quramy/tsuquyomi.git
[submodule "vim/.vim/bundle/coc.nvim"]
	path = vim/.vim/bundle/coc.nvim
	url = git@github.com:neoclide/coc.nvim.git
[submodule "vim/.vim/bundle/undotree"]
	path = vim/.vim/bundle/undotree
	url = git@github.com:mbbill/undotree.git
[submodule "vim/.vim/black"]
	path = vim/.vim/black
	url = git@github.com:ambv/black
